header {
	height: 100px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.aloha{
		display: flex;
		flex: 1 0 45%;
		height: 100px;
	}
	.cart{
		display: flex;
		flex: 1 0 45%;
		height: 100px;
	}
	.nav{
		display: flex;
		flex: 1 0 100%;
	}
}
.navlist {
	display: flex;
	// flex-flow: column;

}