@font-face {
	font-family: 'Raleway';
	src: url('./assets/fonts/Raleway-Regular.eot');
	src: url('./assets/fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
	url('assets/fonts/Raleway-Regular-webfont.svg#Raleway-Regular') format('svg'),
	url('./assets/fonts/Raleway-Regular.woff') format('woff'),
	url('./assets/fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('./assets/fonts/Raleway-bold.eot');
	src: url('./assets/fonts/Raleway-bold.eot?#iefix') format('embedded-opentype'),
	url('assets/fonts/Raleway-bold-webfont.svg#Raleway-bold') format('svg'),
	url('./assets/fonts/Raleway-bold.woff') format('woff'),
	url('./assets/fonts/Raleway-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Playfair-Display';
	src: url('assets/fonts/PlayfairDisplay-Regular.eot');
	src: url('assets/fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
	url('assets/fonts/Playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg'),
	url('assets/fonts/PlayfairDisplay-Regular.woff') format('woff'),
	url('assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('assets/fonts/Raleway-Light.eot');
	src: url('assets/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
	url('raleway-light-webfont.svg#ralewaylight') format('svg'),
	url('assets/fonts/Raleway-Light.woff') format('woff'),
	url('assets/fonts/Raleway-Light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;

}

@font-face {
	font-family: 'Playfair-Display';
	src: url('assets/fonts/PlayfairDisplay-Italic.eot');
	src: url('assets/fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
	url('assets/fonts/playfairdisplay-blackitalic-webfont.svg#playfair_displayblack_italic') format('svg'),
	url('assets/fonts/PlayfairDisplay-Italic.woff') format('woff'),
	url('assets/fonts/PlayfairDisplay-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair-Display';
	src: url('assets/fonts/PlayfairDisplay-Bold.eot');
	src: url('assets/fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
	url('assets/fonts/PlayfairDisplay-Bold-webfont.svg#playfair_display-bold') format('svg'),
	url('assets/fonts/PlayfairDisplay-Bold.woff') format('woff'),
	url('assets/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/*Go back and change it to all the same names and then add weight and style ot hte appropriate ones*/

/*Font families end here*/
/*Generic changes go here*/

a:hover {
	color:#b64036;
}


body  {
	font-size: 14px;
	color: #2d2d2d;
} 

img {
	max-width: 100%;
	height: auto;
}

.container {

	margin: 0 auto;
}
.allcaps{
	text-transform: uppercase;
}
.raleway{
	font-family: 'Raleway';
}

.playfair {
	font-family: 'Playfair-Display', serif;
	/*color:#2d2d2d;*/
}

.italic {
	font-style: italic;
	font-size: 2.5rem;
	display: inline-block;
}
.bold {
	font-weight: bold;
	display: inline-block;
	font-size: 2.5rem;
}
/*.clearfix:after { 
content:'';
clear:both;
display: table;
}*/


.brandfontcolor {
	color: #e2574c;
}

/*Generic changes ends here*/
/*Header changes here*/
.aloha {
	display: flex;
	flex: 0 1 50%;

}
.aloha img {
	max-height:  65px
}

.cart {
	flex: 0 1 50%;
	display: flex;
	justify-content: flex-end;

}
.cart img{
	max-height: 65px;
}



header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 1rem;

}
/*Header changes end here*/
/*Banner starts here*/

.banner {
	height: 500px;
	background: linear-gradient( to bottom, rgba(0,0,0,0.5)0%, rgba(0,0,0,.01) 100%), url(assets/images/banner-girl.png) no-repeat center 60px ,url(assets/images/flower-bkgd.jpg) repeat-x center top; 
	background-size: cover, 197.5px 490px, cover;
}
.banner p {
	color: white;
	margin-bottom: 40px;
	font-size: 1.25rem;
}
.bannertext {
	text-shadow: 1px 1px 2px black; 
	position: relative;
	top: 50%;
	/*this moves the top left corner/the absolute position of the box 50% down*/
	transform:translate(0,-50%);
	background-repeat: no-repeat;
	/*this moves that top left corner/the absolute positiion 50% down relative to the box*/
	width: 100%;
	/*this makes the box we are moving reach the enitre left and right */
	text-align: center;
}

.spring { 
	font-size: 3.125rem;
	color: white;    
}
/*Banner changes end here*/

/*Hand crafted style section */


.hand-crafted {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.hand {
	font-size: 1.875rem;
	margin-bottom: 20px;
}

.sells-only-the{
	width: 45%;  
}
.sells-only-the p {
	text-align: center;
}
/*Hand Crafted style section ends here*/

.carousel{
	width: 100%;
}
.carousel-cell {
	text-align: center;
	width: 100%;

}

.categorys{
	width: 100%;
	font-size: 3rem;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.mens{

	display: flex;
	background: url("assets/images/mens-category.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center, center;
	flex: 1 0 100%;
	height: 413.333px;
	align-items: center;
	justify-content: center;
	margin-bottom: 1%;

}
.trends{
	display: flex;
	background: url("assets/images/trends-category.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
	flex: 1 0 49.5%;
	height: 413.333px;
	margin-right: .5%;
	margin-bottom: 1%;
}
.glasses{
	display: flex;
	background: url("assets/images/glasses-category.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
	flex: 1 0 49.5%;
	margin-left: .5%;
	margin-bottom: 1%;
}
.sale{
	display: flex;
	background: url("assets/images/sale-category.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
	flex: 1 0 49.5%;
	height: 413.333px;
	margin-right: .5%;
}
.bags{
	display: flex;
	background: url("assets/images/bags-category.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
	flex: 1 0 49.5%;
	margin-left: .5%;
}
.womens{
	margin-top: 1%;
	display: flex;
	flex: 1 0 100%;
	width: 100%;
	display: flex;
	background: url("assets/images/womens-category.jpg" );
	background-repeat: no-repeat;
	background-size: cover;
	height: 413.333px;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.lovedproduct ul{
	text-align:center;
}
.navigation {
	margin-top: 1rem;
	justify-content: space-between;
	font-size: 1.5rem;
	width: 100%;
	text-align: center; 
	padding-top: 1.5rem;
	border-top:#d7d7d7 3px solid;

}
.navigation a {
	padding-right: 25px;
}
.mostlovedblock {
	border-top: #d7d7d7 solid 3px;
}
.mostlovedblock h3{
	text-align: center;
	font-size: 1.25rem;  
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

/*Sign up for updates section here */
footer ul a:hover {
	color: red;
}
.sign-up {
	text-align: center;
	background: url(assets/images/wave-bkgd.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 350px;
	color: white;
	margin-bottom: 10px
}

.sign-up h3{
	color: white;
	font-size: 1.875rem;
	margin-bottom: 15px;
	padding-top: 65px;
	text-shadow: 3px 1px 3px black;
	margin-top: 50px;
}

button {
	border-radius: 50px;
	font-size: 1.25rem;
	height: 40px;
	border: 0;
	background-color: #e2574c;
	width: 120px;
	position: absolute;
	color: white;
	right: 3px;

}

.emailsub {
	border-radius: 50px;
	position: relative;
	margin: 0 auto;
	background-color: white;
	height: 12.5%;
	width: 40%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 25px;
}
input, button {
	border: 0;
}
input[placeholder]{
	font-size: 1rem;
}
input.focus{
	outline: none;
}
input {
	height: 20px;
	resize: none;
	border-radius: 30px;
	margin: 0 auto;
	width: 50%;
	padding-right: 150px;
}
.sign-up p{
	padding: 5px;
}
footer {
	text-align: center;
	display: flex;
	align-items: center;
	flex-flow: column wrap;
	background-color: #242424;
	padding: 5%;
	align-items: center;
}

.icon-list li{
	padding: 5px;
	text-align:left;
}
.icons {
	display: flex;
	justify-content: center;
	color: white;
}

.iconlinks{
	display: none;
}

a{

	text-decoration:none;
}

.address {
	color: #969696;
}

footer p,a {
	padding-bottom: 5px;
	color: white;
}
.brandfontcolor {
	color: #e2574c;
}



/*/ **********************************************************************************TABLET TABLET TABLET TABLET/*/
@media screen and (min-width: 600px){
	.container: {
		max-width: 768px;
	}
	.aloha{
		flex-basis: auto;
	}
	.cart{
		flex-basis: auto;
		order:2;
	}
	.navigation {
		width: auto;
		font-size: 1rem;
		border-top: #d7d7d7 0px solid;
		margin-top: 0;
		order: 0;
		display: flex;
		align-self: center;
		padding-top: 0px;
	}
	.carousel-cell {
		width: 50%;
	}
	.mostlovedblock h3{
		text-align: center;
		font-size: 1.25rem;
		width: 100%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.mens {
		flex: 0 0 49%;
		margin-right: 1%;
		height: 206.6667px;
		margin-bottom: 1%;
	}
	.trends{
		flex: 0 0 24.5%;
		margin-right: 0%;
		height: 206.6667px;
	}
	.glasses{
		flex: 0 0 24.5%;
		margin-left: 1%;
	}
	.sale{
		flex: 0 0 24%;
		margin-right: 1%;
		height: 206.6667px;
	}
	.bags{
		flex: 0 0 24%;
		margin-left: 0%;
		margin-right: 1%;
	}
	.womens{
		flex: 0 0 50%;
		margin-top: 0%;
		height: 206.6667px;
		margin-bottom: 0px;
	}
	.emailsub {
		width: 60%;
	}
	footer {
		display: flex;
		text-align: left;
		justify-content: space-between;
		flex-flow: row wrap;
	}
	.icons{
		display:inline-block;
	}
	.iconlinks{
		display: inline-block;
	}
}


/******************************************************************DESKTOP DESKTOP DESKTOP DESKTOP*/
@media screen and (min-width: 1240px){

	.contacts {
		padding-left: 5%;
	}

	body  {
		font-size: 16px;
	}
	header{
		margin-bottom: 0px;
	}
	footer {
		padding-top: 10%;
		padding-bottom: 5%;
	}
	.sociallist {
		display: flex;
		padding-right: 5%
	}
	.emailsub {
		width: 40%;
	}
	.iconlinks{
		display: block;
	}
	.content {
		padding-left: 5%;
	}
	.icon-list {
		height: 100%;
		font-size: 1rem;
		padding-right: 5px;
		color: white;
		display: block;

	}
	.navigation {
		font-size: 1rem;
		border-top: #d7d7d7 0px solid;
		margin-top: 0;
		order: 0;
		display: flex;
		align-self: flex-start;
		padding-top: 0px;
	}
	.carousel-cell {
		width: 25%;
	}

	.navigation {
		align-self: center;
	}
}

